<div class="w-full inline-flex">
    <div class="w-10/12 inline-flex ml-auto mr-auto p-5">
        <div class="w-6/12 p-5">
            <div class="w-8/12 p-3 bg-white ml-auto rounded-lg h-48 overflow-y-scroll">
                <%= gettext "%{text}", text: @text %>
            </div>
        </div>
        <div class="w-6/12 p-5">
            <div class="w-8/12 p-3 bg-white mr-auto rounded-lg h-48 overflow-y-scroll">
            </div>
        </div>
    </div>
</div>